@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&subset=cyrillic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  background-color: #f8fafc;
  -webkit-font-smoothing: antialiased;
}

.layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 2;
}

.cf:after, .calculator-body .overall:after, .range-slider:after,
.cf:before,
.calculator-body .overall:before,
.range-slider:before {
  content: '';
  display: table;
}

.cf:after, .calculator-body .overall:after, .range-slider:after {
  clear: both;
}

*:focus {
  outline: none;
}

.fright {
  float: right;
}

.fleft {
  float: left;
}

a {
  color: #0ca7ce;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
a:hover, a:focus {
  color: #0ca7ce;
  border-bottom: 1px solid #0ca7ce;
  text-decoration: none !important;
}
a:active {
  color: #0ca7ce;
}

h1,
h2 {
  margin: .4em 0 .8em;
  color: #333;
  font-size: 275%;
  line-height: 1.1;
}

h3,
h4,
h5,
h6 {
  margin: 0 0 .5em 0;
  color: #0ca7ce;
  font-weight: 500;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 125%;
}

h5 {
  font-style: 100%;
}

h6 {
  font-size: 87%;
}

p {
  margin-bottom: 1.2em;
  line-height: 1.7;
  font-size: 100%;
  color: #555;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

hr {
  border-color: #d2d2d2;
}

ol {
  list-style-type: decimal;
}

ul li {
  position: relative;
  padding-left: 14px;
}
ul li:before {
  content: '';
  position: absolute;
  top: .5em;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #0ca7ce;
}

ul,
ol {
  margin: 0 0 1.6em 0;
}
ul li,
ol li {
  margin-bottom: .8em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
  width: 250px;
  height: 35px;
  margin-top: 0;
  padding: 0 20px 0 20px;
  line-height: 34px;
  border: none;
  border-bottom: 1px solid #000;
  color: #0e0e0e;
  font-size: 100%;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: none;
  border-bottom: 1px solid #0ca7ce;
  box-shadow: none;
}

select {
  width: 430px;
  padding: 10px 50px 10px 20px;
  background-color: #fdfdfd;
  font-size: 106%;
  font-weight: 300;
  color: #333;
  border: 1px solid #eaeaea;
  background-image: url("../images/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: 16px;
  -webkit-appearance: none;
}

.st-select {
  z-index: 10;
  position: relative;
  display: inline-block;
  width: 400px;
  overflow: hidden;
}

.form-control::-webkit-input-placeholder {
  color: #0e0e0e;
  opacity: .7;
}

.form-control::-moz-placeholder {
  color: #0e0e0e;
  opacity: .7;
}

.form-control:-ms-input-placeholder {
  color: #0e0e0e;
  opacity: .7;
}

.form-control:-moz-placeholder {
  color: #0e0e0e;
  opacity: .7;
}

.form-control::placeholder {
  color: #0e0e0e;
  opacity: .7;
}

.btn {
  display: inline-block;
  min-width: 250px;
  height: 40px;
  margin: 1em 0;
  padding: 0 35px;
  line-height: 40px;
  font-size: 87.5%;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  word-break: keep-all;
  text-align: center;
  letter-spacing: .6px;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.btn:hover, .btn:active, .btn:focus {
  border: 1px solid #0ca7ce;
  background-color: #0ca7ce;
  color: #fff;
}

.btn-modal {
  padding: 0;
  font-weight: 300;
  font-size: 81%;
  color: rgba(255, 250, 254, 0.68);
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed rgba(255, 250, 254, 0.68);
}
.btn-modal:hover {
  color: #fff;
  border-bottom: 1px dashed transparent;
}

.inner .btn-modal {
  border-color: #444;
  color: #444;
}
.inner .btn-modal:hover {
  color: #666;
  border-bottom: 1px dashed transparent;
}

.btn-red {
  width: 310px;
  height: 54px;
  line-height: 54px;
  background-color: #fc6041;
  font-size: 94%;
  font-weight: 500;
}

.btn-wb {
  border: 2px solid #0ca7ce;
  color: #0ca7ce;
}
.btn-wb:hover, .btn-wb:focus {
  border: 2px solid #0ca7ce;
  color: #fff;
}

.btn-submit {
  border: 2px solid #0ca7ce;
  color: #0ca7ce;
}

.home .btn-wb {
  border: 2px solid #fff;
  color: #fff;
}
.home .btn-wb:hover {
  border: 2px solid transparent;
}

.btn-l-red {
  background-color: #fc6041;
  border: 1px solid #fc6041;
}

.cover-image {
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.brand-logo {
  display: inline-block;
  margin: -5px 0 0 0;
  text-decoration: none;
  border: none;
}
.brand-logo .logo-i {
  width: 210px;
  height: 90px;
}
.brand-logo:hover, .brand-logo:focus {
  text-decoration: none;
  border: none;
}

#logo-header,
#logo-footer {
  fill: #fff;
}

.inner #logo-header {
  fill: #224180;
}

.contact-b:first-child {
  margin-left: 0 !important;
}
.contact-b .contact-desc {
  font-size: 87%;
  color: #fff;
}
.contact-b .contact-desc .tel {
  font-size: 158%;
}
.contact-b .tel {
  font-size: 137%;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  white-space: nowrap;
}

.contact-b-wrap {
  float: right;
  margin-top: 8px;
}

.contact-b-title {
  margin-bottom: 4px;
  font-size: 75%;
  color: rgba(255, 255, 255, 0.54);
}

.header {
  z-index: 3000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  background: rgba(0, 17, 29, 0.68);
  background: -moz-linear-gradient(top, rgba(0, 17, 29, 0.68) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 17, 29, 0.68)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 17, 29, 0.68) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgba(0, 17, 29, 0.68) 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, rgba(0, 17, 29, 0.68) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 17, 29, 0.68) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00111d', endColorstr='#ffffff', GradientType=0 );
}
.header:before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.header .contact-b {
  display: inline-block;
  vertical-align: top;
  margin-left: 35px;
}
.header .btn-buy {
  margin: 20px 0 0 12%;
  vertical-align: top;
}

.cbp-spmenu-push-toright .header:before {
  top: 0;
}
.cbp-spmenu-push-toright #logo-header {
  fill: #224180;
}

.mob-header {
  display: none;
  float: right;
}
.mob-header .calculator-i,
.mob-header .phone-i {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 18px;
  padding: 0;
  background-color: #fc6041;
  border-radius: 50%;
  border: none;
  line-height: 39px;
  vertical-align: top;
}
.mob-header .calculator-i:hover {
  background-color: #c34a33;
}
.mob-header .phone-i {
  background-color: #0ca7ce;
}
.mob-header .phone-i:hover {
  background-color: #0a809e;
}
.mob-header svg {
  position: relative;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
}

.navbar {
  height: auto;
  margin: 0;
  padding: 5px 0 0 0;
  border: none;
  border-radius: 0;
}

.main-menu {
  padding: 0;
}

.navbar-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  float: none;
}
.navbar-nav:after, .navbar-nav:before {
  display: none;
}
.navbar-nav .nav-item {
  margin-bottom: 0;
  padding: 0;
}
.navbar-nav .nav-item a {
  position: relative;
  padding: 8px 0 8px 0;
  font-size: 100%;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  border-bottom: none;
  letter-spacing: 1px;
}
.navbar-nav .nav-item a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 100%;
  height: 4px;
  background: transparent;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.navbar-nav .nav-item a:hover:after, .navbar-nav .nav-item a:focus:after {
  content: '';
  position: absolute;
  left: 0%;
  bottom: 0;
  background: #0ca7ce;
}
.navbar-nav .nav-item a:hover, .navbar-nav .nav-item a:focus {
  color: #fff;
  background: transparent;
  border-bottom: none;
}
.navbar-nav .nav-item.active a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  color: #fff;
  background: #0ca7ce;
}
.navbar-nav .nav-item:before {
  display: none;
}

.nav {
  margin: 0;
}
.nav .dropdown.open, .nav .dropdown.open > a, .nav .dropdown.open > a:hover {
  color: #fff;
  background: transparent;
}
.nav .dropdown:hover .dropdown-menu {
  display: block;
}
.nav .dropdown > input,
.nav .dropdown .drop-icon {
  display: none;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: transparent;
}

.chevron-right {
  fill: #fff;
}

.drop-icon {
  z-index: 100;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.125);
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
.drop-icon:hover .chevron-right, .drop-icon:focus .chevron-right {
  fill: #1399bd;
}
.drop-icon .chevron-right {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7.5px;
  margin-left: -4px;
}

.chevron-right {
  width: 10px;
  height: 15px;
}

.caret {
  margin-left: 8px;
}

.dropdown-menu {
  padding: 20px 0;
  background-color: #fff;
  border: none;
  border-radius: 0;
}
.dropdown-menu .nav-item a {
  padding: 14px 25px;
  color: #000;
  font-weight: normal;
  border: none;
}
.dropdown-menu .nav-item a:after {
  display: none;
}
.dropdown-menu .nav-item a:hover, .dropdown-menu .nav-item a:active, .dropdown-menu .nav-item a:focus {
  color: #fff;
  background-color: #0CA7CE;
  border: none;
}
.dropdown-menu .nav-item a:hover:after, .dropdown-menu .nav-item a:active:after, .dropdown-menu .nav-item a:focus:after {
  display: none;
}
.dropdown-menu .nav-item.active a {
  color: #fff;
}

.navbar-toggle {
  z-index: 1100;
  position: absolute;
  top: 30px;
  left: 15px;
  width: 50px;
  height: 40px;
  margin: 0;
  padding: 0;
  transition-duration: 0.5s;
}
.navbar-toggle .icon {
  position: absolute;
  height: 6px;
  width: 50px;
  top: 18px;
  background-color: #1399bd;
}
.navbar-toggle .icon:before {
  transition-duration: 0.3s;
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: #1399bd;
  content: "";
  top: -11px;
  left: 0px;
}
.navbar-toggle .icon:after {
  transition-duration: 0.3s;
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: #1399bd;
  content: "";
  top: 11px;
  left: 0;
}
.navbar-toggle.menu-active .icon {
  transition-duration: 0.5s;
  background: transparent;
}
.navbar-toggle.menu-active .icon:before {
  -webkit-transform: rotateZ(45deg) scaleX(0.7) translate(1px, 15px);
  -ms-transform: rotateZ(45deg) scaleX(0.7) translate(1px, 15px);
  -o-transform: rotateZ(45deg) scaleX(0.7) translate(1px, 15px);
  transform: rotateZ(45deg) scaleX(0.7) translate(1px, 15px);
}
.navbar-toggle.menu-active .icon:after {
  -webkit-transform: rotateZ(-45deg) scaleX(0.7) translate(1px, -15px);
  -ms-transform: rotateZ(-45deg) scaleX(0.7) translate(1px, -15px);
  -o-transform: rotateZ(-45deg) scaleX(0.7) translate(1px, -15px);
  transform: rotateZ(-45deg) scaleX(0.7) translate(1px, -15px);
}
.navbar-toggle:hover {
  cursor: pointer;
}

.promo-slider {
  height: 780px;
  overflow: hidden;
  background-color: #000;
}

.slider-item {
  margin: 0;
  padding-left: 0;
}
.slider-item:before {
  display: none;
}

.promo-slider-item {
  height: 780px;
  margin: 0;
  padding: 0;
}
.promo-slider-item .slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.promo-slider-item .slider-info {
  z-index: 100;
  position: relative;
  top: 40%;
  color: #fff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.promo-slider-item .slider-title {
  padding: .2em 0 .5em 0;
  margin: 0;
  font-size: 275%;
  color: #fff;
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
}
.promo-slider-item .slider-title i {
  color: #0ca7ce;
  font-weight: 500;
  font-style: normal;
}
.promo-slider-item .btn-group {
  display: none;
}
.promo-slider-item:before {
  display: none;
}
.promo-slider-item .container {
  height: 100%;
}

.details {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: stretch;
  align-items: stretch;
  justify-content: space-between;
  height: 618px;
}

.details-slide {
  position: relative;
  -webkit-flex: 1 1;
  -moz-flex: 1 1;
  -ms-flex: 1 1;
  -o-flex: 1 1;
  flex: 1 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}
.details-slide:after {
  content: '';
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(12, 167, 206, 0.5);
  opacity: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.details-slide:hover {
  z-index: 50;
  -webkit-flex: 3 1;
  -moz-flex: 3 1;
  -ms-flex: 3 1;
  -o-flex: 3 1;
  flex: 3 1;
}
.details-slide:hover:after {
  opacity: 1;
}
.details-slide:hover .details-title {
  margin-bottom: .6em;
  font-size: 275%;
}
.details-slide:hover .details-sub {
  font-size: 100%;
}
.details-slide:hover .details-info {
  left: 5%;
}
.details-slide:hover .overlay {
  opacity: 1;
}
.details-slide:hover .details-sup {
  left: 0;
}
.details-slide:hover .details-btn {
  left: 5%;
}
.details-slide:hover .details-bg {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.details-slide .details-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.details-slide .details-info {
  z-index: 5;
  position: absolute;
  top: 90px;
  left: 0;
  width: 700px;
  padding: 30px 25px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.details-title {
  margin-top: 1.2em;
  margin-bottom: 1em;
  font-size: 162%;
  font-weight: 500;
  color: #fff;
  letter-spacing: .5px;
  text-transform: uppercase;
  line-height: 1.2;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.details-sub {
  font-size: 87%;
  color: #fff;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.details-sup {
  position: relative;
  left: -100%;
  font-size: 87%;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}

.details-btn {
  z-index: 8;
  position: absolute;
  bottom: 150px;
  left: 0;
  padding: 0 25px;
  font-size: 94%;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  border: none;
}
.details-btn:hover, .details-btn:focus {
  border: none;
}

.details-animate-circle {
  width: 76px;
  height: 76px;
  margin: -28px 20px 10px 0px;
  position: relative;
  float: left;
}

.spinner {
  width: 50%;
  height: 100%;
  z-index: 2;
  border-right: none;
  animation: rota 10s linear infinite;
  position: absolute;
  bottom: 0px;
  right: 50%;
  overflow: hidden;
}

.details-slide:hover .spinner {
  -webkit-animation: fill2 0.5s linear 0s 1;
  animation: fill2 0.5s linear 0s 1;
}

.pie {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  z-index: 1;
  border-left: none;
  overflow: hidden;
}

.details-slide:hover .pie {
  -webkit-animation: fill 0.5s linear 0s 1;
  animation: fill 0.5s linear 0s 1;
}

.left-indoor,
.right-indoor {
  width: 38px;
  height: 76px;
  border: 2px solid #FFFFFF;
}

.left-indoor {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 100% 0 0 100%/50% 0 0 50%;
  border-right: none;
}

.right-indoor {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0 100% 100% 0/0 50% 50% 0;
  border-left: none;
}

.arrow-i {
  position: absolute;
  top: -2px;
  left: -1px;
  width: 80px;
  height: 80px;
}

.details-slide:hover .arrow-i {
  -webkit-animation: fill3 0.7s linear 0s 1;
  animation: fill3 0.7s linear 0s 1;
}

@-webkit-keyframes fill {
  0% {
    height: 0%;
    width: 0%;
  }
  25% {
    height: 30%;
    width: 50%;
  }
  50%,100% {
    height: 100%;
    width: 50%;
  }
}
@keyframes fill {
  0% {
    height: 0%;
    width: 0%;
  }
  25% {
    height: 30%;
    width: 50%;
  }
  50%,100% {
    height: 100%;
    width: 50%;
  }
}
@-webkit-keyframes fill2 {
  0% {
    height: 0%;
    width: 0%;
  }
  50% {
    height: 0%;
    width: 50%;
  }
  75% {
    height: 30%;
    width: 50%;
  }
  100% {
    height: 100%;
    width: 50%;
  }
}
@keyframes fill2 {
  0% {
    height: 0%;
    width: 0%;
  }
  50% {
    height: 0%;
    width: 50%;
  }
  75% {
    height: 30%;
    width: 50%;
  }
  100% {
    height: 100%;
    width: 50%;
  }
}
@-webkit-keyframes fill3 {
  0% {
    width: 0px;
  }
  95% {
    width: 0px;
  }
  100% {
    width: 36px;
  }
}
@keyframes fill3 {
  0% {
    width: 0px;
  }
  95% {
    width: 0px;
  }
  100% {
    width: 36px;
  }
}
.section-header {
  z-index: 10;
  position: relative;
  padding: 65px 0 40px 0;
  text-align: center;
}
.section-header .section-sub {
  display: inline-block;
  padding: 2px 18px;
  background-color: #fff;
  color: #075fb0;
  font-size: 100%;
  font-weight: 500;
}

.section-title {
  margin: 0 0 .34em;
  font-size: 275%;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  line-height: 1.2;
}

/*--advantage----------------------*/
.advantage {
  position: relative;
  padding-bottom: 20px;
  background-color: #075fb0;
  overflow: hidden;
}
.advantage:after {
  z-index: 0;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/cloud.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 1;
}

.advantage-list {
  z-index: 5;
  position: relative;
  margin-bottom: 3em;
  padding: 10px 0 0 0;
}

.advantage-item {
  margin-bottom: 2em;
  padding: 0 3.6%;
}
.advantage-item:before {
  display: none;
}

.advantage-title {
  position: relative;
  margin: 0 0 2em 0;
  font-size: 112%;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.advantage-title:after {
  content: '';
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 75px;
  height: 4px;
  margin-left: -37.5px;
  background-color: #f85836;
}

.advantage-text {
  padding: 0;
  font-size: 87%;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.advantage-i {
  width: 135px;
  height: 135px;
  margin: 0 auto 20px auto;
  background-color: #0c63b4;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 0 8px 15px rgba(25, 25, 25, 0.3);
}

.canister-i {
  background-image: url(../images/canister.svg);
}

.truck-i {
  background-image: url(../images/truck.svg);
}

.rocket-i {
  background-image: url(../images/rocket.svg);
}

.hand-i {
  background-image: url(../images/hand.svg);
}

/*--Products-----------------------*/
.products {
  position: relative;
  height: 475px;
  overflow: hidden;
  background-color: #fff;
}
.products .section-header {
  padding: 75px 0 30px 0;
}
.products .section-title {
  text-align: left;
  color: #0ca7ce;
  line-height: 1.1;
}
.products .container {
  position: relative;
}

.products-promo {
  z-index: 30;
  position: absolute;
  height: 100%;
  padding-bottom: 500px;
  color: #555;
}
.products-promo:after {
  content: '';
  position: absolute;
  top: 0;
  left: -500px;
  width: calc(100% + 500px);
  height: 100%;
  background: #fff url(../images/products-bg.png) no-repeat;
  background-position: 20% 45%;
}

.products-desc {
  z-index: 10;
  position: relative;
}

.products-list li {
  margin-bottom: 1.2em;
  font-size: 81%;
  color: #555;
  text-transform: uppercase;
}
.products-list li:before {
  display: none;
}

.arrow-right {
  width: 65px;
  height: 65px;
  margin-top: -32.5px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.products-slider {
  position: absolute;
  height: 475px;
  top: 0;
  right: 0;
  margin: 0;
}
.products-slider .slider-navigation {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}
.products-slider .slider-next,
.products-slider .slider-prev {
  cursor: pointer;
  opacity: .6;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.products-slider .slider-next:hover,
.products-slider .slider-prev:hover {
  opacity: 1;
}
.products-slider .slider-next {
  position: absolute;
  right: 25px;
}
.products-slider .slider-prev {
  position: absolute;
  left: 25px;
}
.products-slider .slider-prev .arrow-right {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.products-item {
  height: 475px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.products-item .slider-link {
  position: relative;
  display: block;
  height: 100%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.products-item .slider-link:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FF075FB2');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzVmYjIiIHN0b3Atb3BhY2l0eT0iMC44OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(7, 95, 178, 0.89)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(7, 95, 178, 0.89) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(7, 95, 178, 0.89) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(7, 95, 178, 0.89) 100%);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.products-item .slider-link:hover .slider-bg {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.products-item .slider-link:hover:after {
  top: 0;
}
.products-item .slider-link:hover .slider-title {
  bottom: 50px;
}
.products-item .slider-bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}
.products-item:before {
  display: none;
}
.products-item .slider-title {
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 28px;
  width: 100%;
  padding: 0 30px;
  font-size: 150%;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: .8px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

/*--partners--------------------*/
.partners {
  background-color: #f5f4f4;
}
.partners .section-header {
  padding: 40px 0 0 0;
}
.partners .section-title {
  font-size: 231%;
  text-align: left;
  color: #0ca7ce;
}

.partners-slider {
  padding-bottom: 20px;
}
.partners-slider .slider-item {
  padding: 25px 0;
}
.partners-slider .slider-link {
  display: block;
  border: none;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}
.partners-slider .slider-link:hover {
  box-shadow: 0 10px 25px -10px rgba(45, 45, 45, 0.4);
  text-decoration: none;
  border: none;
}
.partners-slider .slider-link img {
  height: auto;
  margin: 0 auto;
}

/*--MAP--------------------------*/
.contact-map {
  position: relative;
  height: 400px;
  overflow: hidden;
}

#map {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
}

/*--Footer-----------------------------*/
.footer {
  position: relative;
  padding: 65px 0 25px 0;
  background: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  color: #fff;
}
.footer:after {
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 38, 74, 0.9);
}
.footer .container {
  z-index: 5;
  position: relative;
}
.footer .contact-b {
  margin-bottom: 24px;
}

.f-cols {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.f-col {
  max-width: 220px;
  min-width: 180px;
  padding: 25px 0px 0 20px;
}

.f-brand {
  padding: 25px 20px 0 0;
}

.f-title {
  margin-bottom: 1.8em;
  font-size: 100%;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .8px;
}

.f-nav-item {
  padding-left: 0;
}
.f-nav-item:before {
  display: none;
}
.f-nav-item a {
  padding: 2px 0;
  font-size: 87%;
  font-weight: 300;
  color: #fff;
  color: rgba(255, 255, 255, 0.79);
}
.f-nav-item a:hover {
  color: #fff;
}

.f-logo {
  display: block;
  margin-top: 0;
  margin-bottom: 15px;
}

.f-text,
.f-text p {
  font-size: 87%;
  color: #fff;
  letter-spacing: .4px;
}

.f-list li {
  padding-left: 0;
}
.f-list li:before {
  display: none;
}
.f-list li a {
  position: relative;
  padding: 2px 0;
  color: #dedede;
  font-size: 87%;
}

.copyright {
  padding: 2px 0 20px 0;
  color: #fff;
  font-size: 81%;
}
.copyright a {
  line-height: 1.5;
  color: #fff;
}

.developer {
  margin-top: 15px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.27);
}

.dev-logo {
  display: inline-block;
  text-align: right;
  font-family: Arial, sans-serif;
  font-size: 11px;
  color: #fff;
  border: none;
}
.dev-logo:hover {
  border: none;
}

/*--Calculator-----------------*/
.calculator {
  z-index: 5 !important;
  display: block;
  opacity: 1;
  position: absolute;
  top: 380px;
  right: initial;
  left: 18.5%;
  overflow: visible;
}
.calculator.in {
  z-index: 3010;
}

.calculator-head {
  height: 65px;
  line-height: 65px;
  padding: 0 30px;
  font-size: 162%;
  color: #fff;
  background-color: #2e383b;
}
.calculator-head .close {
  display: none;
}

.calculator-body {
  padding: 25px 35px 35px 35px;
  border-radius: 0;
  background-color: #f2f2f2;
  border: none;
  box-shadow: none;
}
.calculator-body .asterisk-text {
  font-size: 75%;
  font-weight: 300;
  color: #444;
}
.calculator-body .price-wrap {
  font-size: 106%;
  font-weight: 500;
  color: #444;
  text-transform: uppercase;
}
.calculator-body .overall-price {
  margin-left: 55px;
  font-size: 171%;
  color: #0ca7ce;
  text-transform: none;
  white-space: nowrap;
}
.calculator-body .btn-order {
  margin: 0;
}

.calculator_form .form-group {
  margin-bottom: 35px;
}
.calculator_form label {
  margin-right: 15px;
  font-size: 94%;
  color: #444;
}

.range-slider-wrap {
  display: inline-block;
}

.range-slider-capacity {
  margin-right: 30px;
}

.ui-widget-content {
  background: #6b6b6b;
  border-color: #6b6b6b;
}

.ui-slider-handle {
  background: #c1c2c4;
  border-radius: 0.6em;
}

.ui-slider-range {
  background: #34a3db;
}

.range-slider {
  position: relative;
  display: inline-block;
  margin: 10px 60px 0 0;
}
.range-slider:last-child {
  margin-right: 0;
}
.range-slider i {
  position: absolute;
  top: -2px;
  right: -38px;
  width: 30px;
  font-size: 112%;
  font-weight: 500;
  font-style: normal;
  color: #0ca7ce;
}
.range-slider i span {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 50%;
  white-space: nowrap;
}
.range-slider.order_distance i {
  top: -8px;
}
.range-slider .ui-widget-header {
  background: rgba(216, 233, 248, 0.41);
  background: -moz-linear-gradient(left, rgba(216, 233, 248, 0.41) 0%, #2db1d5 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(216, 233, 248, 0.41)), color-stop(100%, #2db1d5));
  background: -webkit-linear-gradient(left, rgba(216, 233, 248, 0.41) 0%, #2db1d5 100%);
  background: -o-linear-gradient(left, rgba(216, 233, 248, 0.41) 0%, #2db1d5 100%);
  background: -ms-linear-gradient(left, rgba(216, 233, 248, 0.41) 0%, #2db1d5 100%);
  background: linear-gradient(to right, rgba(216, 233, 248, 0.41) 0%, #2db1d5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e9f8', endColorstr='#2db1d5', GradientType=1 );
}

.calculator_form .range-slider .range-slider-field {
  top: .4em;
  width: 230px;
  height: 8px;
  margin-left: 140px;
}
.calculator_form .range-slider .ui-slider-handle {
  border-radius: 50%;
  background: #0ca7ce;
  border: 2px solid #fff;
  box-shadow: 0 0 0 4px rgba(12, 167, 206, 0.37);
}
.calculator_form .range-slider .ui-slider-horizontal .ui-slider-handle {
  top: -.4em;
}
.calculator_form .range-slider .range-slider__value {
  display: inline-block;
  width: 85px;
  height: 40px;
  font-size: 112%;
  border: 1px solid #eaeaea;
  background: #fff;
  padding: 0 5px;
  margin-left: 20px;
  margin-top: -10px;
  color: #333;
  text-align: center;
}
.calculator_form .range-slider .slider-label {
  float: left;
  font-size: 94%;
  color: #444;
}

/*--Inner pages-----------------*/
.inner {
  background-color: #fff;
}
.inner .header {
  position: relative;
  height: auto;
  background: #fff;
}
.inner .header .contact-b,
.inner .header .contact-desc,
.inner .header .tel,
.inner .header .navbar-nav .nav-item {
  color: #333;
}
.inner .header .contact-b a,
.inner .header .contact-desc a,
.inner .header .tel a,
.inner .header .navbar-nav .nav-item a {
  color: #333;
}
.inner .header .contact-b a:hover,
.inner .header .contact-desc a:hover,
.inner .header .tel a:hover,
.inner .header .navbar-nav .nav-item a:hover {
  border-color: #333;
}
.inner .header .contact-b .dropdown-menu .active a,
.inner .header .contact-b .dropdown-menu a:hover,
.inner .header .contact-b .dropdown-menu a:focus,
.inner .header .contact-desc .dropdown-menu .active a,
.inner .header .contact-desc .dropdown-menu a:hover,
.inner .header .contact-desc .dropdown-menu a:focus,
.inner .header .tel .dropdown-menu .active a,
.inner .header .tel .dropdown-menu a:hover,
.inner .header .tel .dropdown-menu a:focus,
.inner .header .navbar-nav .nav-item .dropdown-menu .active a,
.inner .header .navbar-nav .nav-item .dropdown-menu a:hover,
.inner .header .navbar-nav .nav-item .dropdown-menu a:focus {
  color: #fff;
}
.inner .header .contact-b-title {
  color: rgba(68, 68, 68, 0.68);
}
.inner .calculator {
  display: none;
  opacity: 0;
  top: 10%;
}
.inner .calculator .submit-wrap {
  float: none !important;
  margin-left: 0;
  text-align: left;
}
.inner.modal-open .calculator {
  opacity: 1;
}
.inner .category-item {
  position: relative;
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
  border: none;
}
.inner .category-item:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FF075FB2');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNzVmYjIiIHN0b3Atb3BhY2l0eT0iMC44OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(7, 95, 178, 0.89)));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(7, 95, 178, 0.89) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(7, 95, 178, 0.89) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(7, 95, 178, 0.89) 100%);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.inner .category-item:hover, .inner .category-item:focus {
  border: none;
}
.inner .category-item:hover:after {
  top: 0;
}
.inner .category-item:hover .category-title {
  bottom: 35px;
}
.inner .category-item img {
  display: block;
  width: 100%;
}
.inner .category-title {
  z-index: 10;
  position: absolute;
  bottom: 25px;
  left: 25px;
  font-size: 112%;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .5px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.breadcrumb {
  margin: 0;
  padding: 24px 0 35px 0;
  border-radius: 0;
  background-color: transparent;
}
.breadcrumb ul {
  margin: 0;
}
.breadcrumb ul li {
  float: left;
  font-size: 81%;
  color: #727272;
  padding-left: 0;
  font-weight: 300;
}
.breadcrumb ul li:before {
  display: none;
}
.breadcrumb ul li:after {
  content: '/';
  display: inline-block;
  margin: 0 6px;
}
.breadcrumb ul li:last-child:after {
  display: none;
}
.breadcrumb ul li a {
  color: #444;
}
.breadcrumb ul li a:hover {
  border-bottom: 1px solid #444;
}

.content-wrap {
  padding-bottom: 40px;
}

.content-wrap > .container:first-child {
  margin-bottom: 30px;
  padding-bottom: 50px;
  background: url(../images/shadow.png) no-repeat;
  background-position: center bottom;
}

.wide-content {
  padding: 0 6%;
  text-align: center;
}
.wide-content p {
  font-size: 87%;
  font-weight: 300;
}

.txt-block h1 {
  font-size: 206%;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
}
.txt-block p,
.txt-block li {
  font-size: 88%;
  font-weight: 300;
}

.apply p {
  font-size: 94%;
}
.apply p,
.apply li {
  font-weight: normal;
}
.apply .btn {
  margin: 0 0 0 2em;
}

.promo-bg {
  z-index: 3;
  position: relative;
  width: 100%;
  height: 325px;
  background-repeat: no-repeat;
}
.promo-bg > .container {
  position: relative;
  height: 100%;
}

.page-badge {
  position: absolute;
  bottom: -70px;
  right: 0;
  width: 115px;
  height: 115px;
  background-repeat: no-repeat;
  background-position: center;
}
.page-badge:before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0ca7ce;
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  -o-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.gasoline-page .page-badge {
  background-image: url(../images/gasoline-i.svg);
}

.content {
  padding-bottom: 50px;
  font-size: 16px;
  color: #333;
}

.catalog {
  position: relative;
  float: left;
  width: 215px;
  margin-top: 30px;
  padding: 0 0 50px 0;
  background-color: #f8f8f8;
}
.catalog:before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 10px rgba(70, 70, 70, 0.1);
}

.catalog-title {
  display: inline-block;
  margin: 18px 20px 8px 20px;
  font-size: 112%;
  font-weight: 500;
  color: #0ca7ce;
  text-transform: uppercase;
  border-bottom: 2px solid #0ca7ce;
}
.catalog-title:focus {
  border-width: 2px;
  text-decoration: none;
}
.catalog-title:hover {
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

.catalog-list {
  margin: 0;
}
.catalog-list .catalog-item {
  margin: 0;
}
.catalog-list > .catalog-item {
  padding: 0;
}
.catalog-list > .catalog-item:before {
  display: none;
}
.catalog-list a {
  display: block;
  margin: 8px 0;
  padding: 0 20px;
  border-color: transparent;
  color: #444;
}
.catalog-list a:hover, .catalog-list a:focus {
  color: #2faed1;
  border-color: transparent;
  text-decoration: none;
}

.catalog-item {
  font-size: 94%;
  color: #555;
}

.catalog-item-sub {
  position: relative;
  margin-bottom: 8px;
  padding: 5px 20px;
  background: #f3f3f3;
}
.catalog-item-sub .catalog-item:before {
  background-color: #dbdbdb;
}
.catalog-item-sub .catalog-item.active:before {
  background-color: #2faed1;
}
.catalog-item-sub .catalog-item:hover:before {
  background-color: #2faed1;
}
.catalog-item-sub .catalog-item a {
  padding: 0;
}

.catalog + .content-screen {
  padding-left: 245px;
}

/* Modal */
.modal {
  z-index: 3050;
}
.modal .contact-form {
  width: 355px;
  margin: 10px auto 45px auto;
  padding-left: 0;
}
.modal .contact-form .form-group {
  float: none;
  display: block;
  margin: 0 auto 15px auto;
}
.modal .contact-form .form-group input {
  width: 100%;
}
.modal .contact-form .submit-wrap {
  margin-top: 2em;
}
.modal .close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  color: #000;
  text-indent: -9999px;
  opacity: .5;
}
.modal .close:hover {
  opacity: 1;
}
.modal .close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.modal .close:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #000;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-body {
  padding: 30px 25px;
}

.modal-content {
  background: #fff;
  background-position: 10% 10px;
  text-align: center;
  border-radius: 0;
}

.mess-body {
  margin-bottom: 1em;
}

.form-title {
  margin: 1.5em 0 .6em 0;
  text-align: center;
  font-size: 140%;
  font-weight: 500;
  color: #1e1e1e;
  line-height: 1.2;
}

.submit-wrap {
  float: none;
}
.submit-wrap .btn-submit {
  margin: 0;
}

.calculator.in {
  z-index: 3050 !important;
}

#modal-callback.in {
  z-index: 3010;
}

#modal-success.in {
  z-index: 3010;
}

.modal-backdrop.in {
  z-index: 3000;
}

/*--MEDIA QUERIES---------------------------------------*/
@media screen and (max-width: 1200px) {
  .navbar-toggle {
    display: block;
  }

  .container {
    width: 100%;
  }

  .btn {
    padding: 0 20px;
    font-size: 90%;
  }

  .details-btn {
    bottom: 100px;
  }

  .header {
    padding-top: 16px;
    padding-bottom: 42px;
  }
  .header .contact-b-wrap,
  .header .btn-buy {
    display: none;
  }
  .header .container {
    position: relative;
  }

  .inner .header:before {
    top: 0;
    background-color: #fff;
  }

  .mob-header {
    display: block;
    margin-top: 15px;
  }

  .header-top {
    text-align: center;
  }

  .brand-logo {
    margin-top: 0;
  }

  .header .brand-logo {
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -100px;
  }

  .calculator {
    display: none;
    opacity: 0;
    top: 15%;
  }
  .calculator .close {
    position: relative;
    top: 18px;
    right: -18px;
    display: block;
    width: 30px;
    height: 30px;
    opacity: .5;
    text-indent: 0;
  }
  .calculator .close:before, .calculator .close:after {
    background-color: white;
  }
  .calculator .close:hover {
    opacity: 1;
  }
  .calculator .submit-wrap {
    display: block;
    float: none !important;
    margin-left: 0;
    text-align: left;
  }

  .calculator-body .overall-price {
    margin-left: 12px;
  }

  .calculator .range-slider {
    margin-right: 0;
  }
  .calculator .range-slider:first-child {
    margin-bottom: 30px;
  }

  .calculator_form .form-group {
    margin-bottom: 30px;
  }

  .promo-slider,
  .promo-slider-item {
    height: 520px;
  }

  .promo-slider-item .container {
    margin: 0;
  }
  .promo-slider-item .btn-group {
    display: block;
  }
  .promo-slider-item .btn-group .btn {
    float: none;
    display: block;
    width: 300px;
  }
  .promo-slider-item .slider-title {
    font-size: 220%;
  }
  .promo-slider-item .slider-info {
    top: 50%;
    padding: 0;
  }

  .range-slider {
    display: block;
  }

  .navbar {
    min-height: inherit;
    padding: 0;
  }

  .inner .main-menu .container,
  .main-menu .container {
    width: 100%;
    padding: 0;
  }
  .inner .main-menu .navbar-nav.nav,
  .main-menu .navbar-nav.nav {
    display: block;
    padding-top: 78px;
    text-align: left;
  }
  .inner .main-menu .navbar-nav.nav .nav-item,
  .main-menu .navbar-nav.nav .nav-item {
    display: block;
    float: none;
  }
  .inner .main-menu .navbar-nav.nav .nav-item.active a,
  .main-menu .navbar-nav.nav .nav-item.active a {
    color: #1399bd;
    background-color: #f0f0f0;
    border: none;
  }
  .inner .main-menu .navbar-nav.nav .nav-item.active a:after,
  .main-menu .navbar-nav.nav .nav-item.active a:after {
    display: none;
  }
  .inner .main-menu .navbar-nav.nav .nav-item input[type="checkbox"] + .dropdown-menu,
  .main-menu .navbar-nav.nav .nav-item input[type="checkbox"] + .dropdown-menu {
    display: none;
  }
  .inner .main-menu .navbar-nav.nav .nav-item input[type="checkbox"]:checked + .dropdown-menu,
  .main-menu .navbar-nav.nav .nav-item input[type="checkbox"]:checked + .dropdown-menu {
    display: block;
  }
  .inner .main-menu .navbar-nav.nav a,
  .main-menu .navbar-nav.nav a {
    float: none;
    margin: 0;
    padding: 18px 12px;
    color: #fff;
    font-size: 87%;
    font-weight: 500;
    border-bottom: 1px solid #128bac;
    white-space: pre-line;
  }
  .inner .main-menu .navbar-nav.nav a:after,
  .main-menu .navbar-nav.nav a:after {
    display: none;
  }
  .inner .main-menu .navbar-nav.nav a:hover, .inner .main-menu .navbar-nav.nav a:active, .inner .main-menu .navbar-nav.nav a:focus,
  .main-menu .navbar-nav.nav a:hover,
  .main-menu .navbar-nav.nav a:active,
  .main-menu .navbar-nav.nav a:focus {
    color: #1399bd !important;
    background-color: #f0f0f0;
    border-color: transparent;
  }
  .inner .main-menu .navbar-nav.nav a:hover:after, .inner .main-menu .navbar-nav.nav a:active:after, .inner .main-menu .navbar-nav.nav a:focus:after,
  .main-menu .navbar-nav.nav a:hover:after,
  .main-menu .navbar-nav.nav a:active:after,
  .main-menu .navbar-nav.nav a:focus:after {
    display: none;
  }
  .inner .main-menu .navbar-nav.nav .nav-item.dropdown > a,
  .main-menu .navbar-nav.nav .nav-item.dropdown > a {
    padding: 18px 42px 18px 12px;
  }
  .inner .main-menu .navbar-nav.nav .caret,
  .main-menu .navbar-nav.nav .caret {
    display: none;
  }
  .inner .main-menu .navbar-nav.nav .drop-icon,
  .main-menu .navbar-nav.nav .drop-icon {
    display: block;
  }
  .inner .main-menu .navbar-nav.nav .dropdown-menu,
  .main-menu .navbar-nav.nav .dropdown-menu {
    position: static;
    float: none;
    background: #fff;
    padding: 0;
    box-shadow: none;
  }
  .inner .main-menu .navbar-nav.nav .dropdown-menu a,
  .main-menu .navbar-nav.nav .dropdown-menu a {
    font-size: 94%;
    font-weight: normal;
    border-bottom: none;
    color: #444;
    text-transform: none;
  }
  .inner .main-menu.collapse,
  .main-menu.collapse {
    display: block !important;
  }

  .navbar-collapse.collapse {
    height: 100% !important;
  }

  /* General styles for all menus */
  .cbp-spmenu {
    background: #1399bd;
    position: fixed;
    padding: 35px 0;
    margin: 0 !important;
    overflow-x: hidden;
    overflow-y: visible;
    display: block;
  }

  .cbp-spmenu h3 {
    color: #fff;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
  }

  .cbp-spmenu a {
    display: block;
  }

  /* Orientation-dependent styles for the content of the menu */
  .cbp-spmenu-vertical {
    width: 305px;
    height: 100% !important;
    top: 0;
    z-index: -1;
  }

  .cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
  }

  .cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
  }

  .cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
  }

  /* Vertical menu that slides from the left or right */
  .cbp-spmenu-left {
    left: -305px;
  }

  .cbp-spmenu-right {
    right: -305px;
  }

  .cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
  }

  .cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
  }

  /* Horizontal menu that slides from the top or bottom */
  .cbp-spmenu-top {
    top: -100%;
    left: 0;
  }

  .cbp-spmenu-bottom {
    bottom: -150px;
  }

  .cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
  }

  .cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
  }

  /* custom */
  .cbp-spmenu-push-toright .cbp-spmenu-top {
    top: 0px;
    left: 0;
  }

  /* Push classes applied to the body */
  .cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
  }

  /* Transitions */
  .cbp-spmenu,
  .cbp-spmenu-push {
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    transition: all .8s ease;
  }

  .cbp-spmenu-push-toright:before {
    z-index: 9;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  /*--END Menu------------------------------*/
  .advantage-list {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }

  .advantage-item {
    flex-basis: 49.8%;
    margin-right: 0;
  }

  .details-slide:hover {
    -webkit-flex: 5 1;
    -moz-flex: 5 1;
    -ms-flex: 5 1;
    -o-flex: 5 1;
    flex: 5 1;
  }

  .contact-form input,
  .contact-form textarea,
  .contact-form textarea.form-control {
    width: 100% !important;
  }

  .submit-wrap {
    margin-left: 2em;
    text-align: center;
  }
  .submit-wrap .btn {
    margin-top: 20px;
  }

  .contact-detail {
    padding-left: 4%;
    padding-right: 4%;
  }

  .footer {
    padding: 50px 0 25px 0;
  }

  .f-title {
    margin-bottom: 1em;
  }

  .f-nav-item {
    margin-bottom: .5em;
  }

  /* inner page*/
  .promo-bg {
    height: 200px;
  }

  .page-badge {
    right: 8%;
  }

  .content-wrap {
    position: relative;
  }

  .catalog {
    float: none;
    margin-top: 0;
    padding-bottom: 17px;
  }

  .catalog + .content-screen {
    padding-left: 0;
  }
}
@media screen and (max-width: 990px) {
  .promo-slider-item .slider-title {
    font-size: 200%;
  }

  .section-title {
    font-size: 225%;
  }

  .products {
    height: auto;
  }

  .products-promo {
    position: relative;
    padding-bottom: 50px;
  }

  .products-slider {
    position: relative;
    left: 0 !important;
    width: 100% !important;
  }

  .details-slide .details-info {
    top: 50px;
    width: 400px;
  }

  .details-slide:hover .details-info {
    left: 5%;
  }

  .f-cols {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .f-col {
    flex-basis: 33%;
  }

  .calculator_form .range-slider .slider-label {
    width: 70px;
  }
  .calculator_form .range-slider .range-slider-field {
    margin-left: 100px;
  }

  body {
    padding-right: 0 !important;
  }

  body.modal-open {
    overflow: visible;
  }
}
@media screen and (max-width: 768px) {
  .promo-slider {
    height: 100vh;
  }

  .promo-slider-item {
    height: 100vh;
  }
  .promo-slider-item .slider-title {
    font-size: 170%;
  }

  .details-slide:hover {
    -webkit-flex: 6 1;
    -moz-flex: 6 1;
    -ms-flex: 6 1;
    -o-flex: 6 1;
    flex: 6 1;
  }

  .details-slide .details-info {
    width: 350px;
  }

  .details-slide:hover .details-title {
    font-size: 162%;
  }
  .details-slide:hover .details-info {
    left: 0;
  }

  .products .section-header {
    padding: 25px 0 15px 0;
  }
  .products .section-title {
    text-align: center;
  }
  .products .products-desc {
    display: none;
  }
  .products .products-promo {
    padding: 0;
  }

  .footer {
    padding-top: 10px;
  }

  .f-brand {
    padding-left: 0;
  }

  .f-col {
    padding: 25px 20px 0 0px;
  }

  .calculator-body {
    padding: 20px;
  }
  .calculator-body .overall-price {
    margin-left: 0;
  }

  .calculator_form .range-slider {
    margin-top: 0;
  }
  .calculator_form .range-slider:first-child {
    margin-bottom: 20px;
  }
  .calculator_form .range-slider .slider-label {
    width: 70px;
  }
  .calculator_form .range-slider .range-slider-field {
    margin-left: 80px;
  }

  /* inner */
  .page-badge {
    width: 100px;
    height: 90px;
    bottom: -20px;
  }
}
@media screen and (max-width: 680px) {
  .details-slide:hover {
    -webkit-flex: 8 1 50%;
    -moz-flex: 8 1 50%;
    -ms-flex: 8 1 50%;
    -o-flex: 8 1 50%;
    flex: 8 1 50%;
  }
  .details-slide:hover .details-title {
    font-size: 200%;
  }

  .partners .section-title,
  .section-title {
    font-size: 181%;
  }

  .details-slide .details-info {
    width: 300px;
  }

  .advantage-item {
    margin-bottom: 3em;
  }

  .f-brand,
  .f-col {
    flex-basis: 50%;
  }

  .f-cols {
    webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .calculator_form .range-slider .slider-label {
    float: none;
    width: auto;
  }
  .calculator_form .range-slider .range-slider-field {
    margin-top: 10px;
    margin-left: 0;
  }
  .calculator_form .range-slider .range-slider__value {
    margin-top: 20px;
  }
  .calculator_form .range-slider i,
  .calculator_form .range-slider .order-distance i {
    top: 42%;
  }
}
@media screen and (max-width: 479px) {
  .header .brand-logo {
    top: -2px;
    margin-left: -55px;
  }
  .header .brand-logo .logo-i {
    width: 120px;
    height: 50px;
  }

  .navbar-toggle {
    top: 16px;
  }

  .mob-header {
    margin-top: 0;
  }
  .mob-header .calculator-i {
    margin-bottom: 15px;
  }
  .mob-header .calculator-i,
  .mob-header .phone-i {
    display: block;
  }

  .main-menu .navbar-nav.nav {
    padding-top: 100px !important;
  }

  .advantage-list .col-xs-6 {
    width: 100%;
  }

  .f-col {
    max-width: 100%;
    flex-basis: 100%;
  }

  .st-select {
    display: block;
  }
  .st-select select {
    width: 100%;
  }

  .calculator-head {
    padding: 0 20px;
    font-size: 110%;
  }

  .submit-wrap .btn {
    width: 100%;
  }

  .calculator_form .range-slider .range-slider-field {
    display: none;
  }
  .calculator_form .range-slider .range-slider__value {
    margin-top: -10px;
    margin-left: 10px;
  }
  .calculator_form .range-slider i {
    top: -5px;
  }

  .price-wrap {
    margin-bottom: 10px;
  }

  .modal .form-title {
    margin-top: 2.5em;
  }
  .modal .contact-form {
    width: 100%;
  }
  .modal .modal-content {
    padding: 0 12px;
  }
}
